@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Spirax');

html { scroll-behavior: smooth;}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #607D8B;
}
.btn-primary {
    background-color: #1E88E5;
    margin: 10px 20px;
}

.container-fluid {
    padding: 0;
}

/*CSS for Nav Bar HERE */
nav {
    width: 100%;
    color: #F5F5F5;

}

nav a {
    color: #f5f5f5;
}

.sIcon-box a:hover {
    color: aqua;
    transition: all 1s ease;
}

.navbar-nav {
    border-top: 1px solid white;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-collapse .sIcon-box {
    font-size: 32px;
    color: #F5F5F5;
    border-top: 1px solid white;

}

.navbar-collapse .sIcon-box span {
    margin: 0 20px;
}

/*CSS for Nab Bar End */

/*CSS for Home Page */
.wall {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#home-img {
    background: url("connectwork.png");
}

#home .card {
    background-color: rgba(224, 224, 224, 0.85);
    width: 80%;
    max-width: 50rem;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home .card-text {
    font-style: italic;
    
    
}
#home .card-title {
    font-family: 'Spirax', cursive;
    border-bottom: 1px solid black;
    
}
#home .card-body .btn {
     font-family: 'Spirax', cursive;
        background-color:#343a40;
}
#home .card-body .btn:hover {
         transition: all 0.8s ease;
        background-color:#78909C;
        color:black;
}
/*CSS for Home Page End */

/*CSS for Portfolio */
.page-title {
    text-align: center;
    padding-top: 60px;
    font-size: 32px;
    color: #E0E0E0;
    border-bottom: 1px solid white;
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
    font-family: 'Spirax', cursive;
}

#portfolio {
    background: url("ep_naturalblack.png");
}

.content {
    width: 85vw;
    height: auto;
    margin: auto;
}

.icon-box {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-top: 25px;


}

.icon {
    color: #E0E0E0;
    font-size: 2.5rem;
    text-align: center;
    transform: translate(1.3vw);
}

.icon p {
    color: #E0E0E0;
    font-size: 1rem;
}

.card-columns {
    background-color: darkgrey;
    padding: 80px 10px 50px;
    border-radius: 10px;
}

.card-columns .card {
    background-color: #F5F5F5;
}

.card-icons span {
    font-size: 2rem;
    margin: 0 50px 0 0;

}

@media only screen and (min-width: 1200px) {
    .icon {
        color: #E0E0E0;
        font-size: 4rem;
    }

    .icon p {
        color: #E0E0E0;
        font-size: 2rem;
    }
}

/*CSS for Portfolio End */

/*CSS for Contact */
#contact {
    background: url("connectwork.png");
    text-align: center;

}

#contact .card {
    width: 70%;
    margin: auto;
}
#contact .card-title {
    font-family: 'Spirax', cursive;
    font-weight: bold
}
#findMore {
    list-style: none;
    text-align: center;
}

.card-body .sIcon-box span {
    font-size: 4rem;
    color: #212121;
    border-top: 1px solid white;
    margin: 0 10px;

}
.card-icons span {
    
    color: #212121;
    

}
.card-icons span:hover {
    
    color:aqua;
    transition: all 1s ease;

}

.card-body .sIcon-box span:hover {
    color: aqua;
    transition: all 1s ease;

}

#findMore span {
    font-size: 3rem;
    margin-right: 20px;
}

#findMore p {
    margin-top: 25px;
}

/*CSS for Contact End */

/*CSS for misc */


footer {
    text-align: center;
}

/* Modal CSS */
.email-form {
    display: grid;
    text-align: center;
    grid-template-columns: 100%;

}

.email-form input {
    width: 80%;
    margin-bottom: 10px;
}

.email-form textarea {
    height: 20vh;
}

.toolbox-list {
    list-style: none;
}